@{
    ViewData["Title"] = "login";
}

<h1>login</h1>

<form asp-action="Login">
    <div class="form-group">
        <label class="control-label"> Username </label>
        <input required name="na" class="form-control" />
    </div>
    <div class="form-group">
        <label for="pa" class="control-label"> Password</label>
        <input required name="pa" type="password" class="form-control" /> <br />
    </div>
    <input type="submit" value="Login" class="btn btn-primary" />

    <p style="color:red"> @ViewData["message"]</p>
</form>
<a asp-action="Create">Create Account</a>



