@model DemoWE.Models.User

@{
    Layout = null;
    ViewData["Title"] = "Set New Password";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Include Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-pzjw8f+UA3p4Py9zr9BE5uNoMvV8HsHx4q2lcUPd2DH0/eur1K63xLBj5Fpa4Mqs" crossorigin="anonymous"></script>

</head>
<body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('~/images/bg-01.jpg');">
            <div class="wrap-login100">
      
                        <form asp-action="SetNewPassword" method="post">
                    <span class="login100-form-logo">

                        <i>

                            <img src="~/images/work evo logo sv 2.svg" width="100" height="100" />
                        </i>
                    </span>
                    <span class="login100-form-title p-b-34 p-t-27">
                        Set Password
                    </span>
                            <input type="hidden" name="userId" value="@Model.EmployeeNumber" />
                    <div class="wrap-input100 validate-input" data-validate="Enter Password">
                             
                        <input type="password" class="input100" id="newPassword" name="newPassword" placeholder="New Password "required>
                            </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Set Password
                        </button>
                    </div>
                        </form>
                    </div>
                </div>
            </div>
      
</body>
</html>
