@model DemoWE.Models.Request

@{
    ViewData["Title"] = "Create";
}


<h4>Request</h4>



<div class="row">
    <div class="col-md-4">
        <button id="createButton" class="btn btn-primary">Create New Task</button>
        <div id="createModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create Task</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @await Html.PartialAsync("_CreatePartial", new Request()) <!-- Pass an empty STask object -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $('#createButton').on('click', function () {
                $('#createModal').modal('show');
            });

    </script>
}